__pycache__/
*.pyc
*.pyo
*.pyd
.python-version

*.db
*.db-journal
*.sqlite3

.venv/
venv/
ENV/
env/
bin/
lib/
develop-beams/
dist/
build/
*.egg-info/

.env.*
!.env.example

.vscode/
.idea/
*.swp
*.swo
.DS_Store
.dockerignore

.pytest_cache/
.coverage
htmlcov/
nosetests.xml
coverage.xml
*.log


*.postman_dump.json